@model Libarian.Models.CallCard

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CallCard</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.callCardIndex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.callCardIndex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.startDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.startDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.deadline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.deadline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.endDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.endDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bookStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bookStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.libaryCard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.libaryCard.libaryCardID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lBook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lBook.lBookID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="callCardID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
