@model Librarian.Models.CallCard

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CallCard</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.callCardIndex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.callCardIndex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.startDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.startDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.deadline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.deadline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.endDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.endDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bookStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bookStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.libraryCardID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.libraryCardID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lBookID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lBookID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.callCardID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
