@model             Book

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bookIndex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bookIndex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.publisher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.publisher)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.publishingYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.publishingYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.summary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.summary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.count)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.count)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.addDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.addDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.categoryID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.categoryID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.bookID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
