@model IEnumerable<Libarian.Models.LibaryCard>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.librayCardIndex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cardStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.startDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.expirationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.librayCardIndex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cardStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.startDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.expirationDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.libaryCardID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.libaryCardID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.libaryCardID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
